.search{
    margin: 15px 0;
    width: 400px;
    
    &__searchbox{
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
        display: flex;
        align-items: center;
        column-gap: 5px;

        &__img{
            width: 10px;
            height: 10px;
        }

        &__input{
            outline: none;
            border: none;
            width: 100%;
        }
    }
}